.div-footer {
  min-height: 500px;
  background: #00695c;
  width: 99.9vw;
  //margin-top: 100px;
  //animation: gradient 10s infinite;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);;
}

a:hover {
  color: darkblue;
  transform: scale(1.1);
}

.align {
  text-align: center;
}

@keyframes gradient {
  0%{
    background-position:0% 50%;
    background-color: #00695c;
    }
  50%{
    background-position:100% 50%;
    background-color: #02c3c3;
  }
  100%{
    background-position:0% 50%;
    background-color: #00695c;
  }
}


