<div class="div-footer"  fxLayout="row wrap " fxLayoutAlign="space-around center" >
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-sm="50" fxFlex="100">
    <a class="mat-h2" [routerLink]="['/broderie']">Magazin</a>
    <a class="mat-h2" [routerLink]="['/user']">Cont</a>
    <a class="mat-h2" [routerLink]="['/broderie']">Locație</a>
    <a class="mat-h2" [routerLink]="['/broderie']">Politică de confidențialitate</a>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-md="50" fxFlex="100">
    <a class="mat-h2" href="mailto:webmaster@example.com">Email</a>
    <a class="mat-h2" href="https://www.facebook.com/BrauMuntenesc">Facebook</a>
    <a class="mat-h2" href="https://www.instagram.com/brau.muntenesc/?hl=ro">Instagram</a>
    <a class="mat-h2" href="https://www.youtube.com/channel/UCO5KJ1114BUb99cub0mqWqQ/videos">Youtube</a>
  </div>
</div>
