/*****************************************************************************
 * Responsive breakpoints are used bottom-up; extra small means a screen size
 * between 576px and 787px (just before the small breakpoint);
 *
 * @media only screen and (min-width: xxx) { }
 ***************************************************************************** */

$breakpoints: (
  small: 37.5, //600px
  small-medium: 45, //720px
  medium: 60, //960px
  large: 80, //1280px
  extra-large: 120 //1920px
);
