:root {
  --module-spacing-default: 1.05rem;
  --module-spacing-extra-small: 1.05rem;
  --module-spacing-small: 3rem;
  --module-spacing-medium: 4.2rem;
  --module-spacing-large: 4.2rem;
  --module-spacing-extra-large: 4.2rem;

  --module-spacing-scale-xxs: 0.16666;
  --module-spacing-scale-xs: 0.25;
  --module-spacing-scale-s: 0.5;
  --module-spacing-scale-m: 1;
  --module-spacing-scale-l: 1.5;
  --module-spacing-scale-xl: 2;
  --module-spacing-scale-xxl: 2.5;
}
