:root {
  --shadow-1: 0 3rem 4rem rgba(0, 0, 0, .4);
  --shadow-2: 0 1rem 2rem rgba(0, 0, 0, .2);
  --shadow-3: 0 .5rem 1rem rgba(0, 0, 0,.2);

  --m-xs: 1rem;
  --m-s: 2rem;
  --m-m: 4rem;
  --m-l: 6rem;
  --m-xl: 10rem;
}
