/* For use in src/lib/core/theming/_palette.scss */
$secondary: (
  50 : #e0f1ef,
  100 : #b3dbd7,
  200 : #80c3bd,
  300 : #4daba2,
  400 : #26998e,
  500 : #00877a,
  600 : #007f72,
  700 : #007467,
  800 : #006a5d,
  900 : #00574a,
  A100 : #89ffe9,
  A200 : #56ffe0,
  A400 : #23ffd7,
  A700 : #09ffd2,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



$primary: (
  50 : #e2edee,
  100 : #b6d1d5,
  200 : #86b3ba,
  300 : #56959e,
  400 : #317e89,
  500 : #0d6774,
  600 : #0b5f6c,
  700 : #095461,
  800 : #074a57,
  900 : #033944,
  A100 : #79e3ff,
  A200 : #46d8ff,
  A400 : #13cdff,
  A700 : #00c4f8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
