.button {
  width: 300px;
  margin: 10px;
}

.adresa {
  background: #00877A;
  font-size: 20px;
  padding-bottom: 150px;
  padding-top: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
