.icons-pagina-start {
  margin-bottom: 10px;
}

.image {
  border-radius: 10px;
}

.card-item {
  border: 1px solid #00877A;
  color: #00877A ;
  border-radius: 10px;

  &:hover {
    transform: scale(1.02);
    background:   #00877A;
    color: white;
  }
}

*[ng-reflect-router-link]:focus {
  outline: none;
}
