.first-header {
  font-size: 40px;
  color: #00877A;
  margin-top: 100px;
}

.animated-paragraph {
  font-size: 25px;
  color: black;
  margin-top: 100px;
}

#spin:after {
  content:"Hai la dans!";
  animation: spin 9s linear;
}
@keyframes spin {
  0% { content:"Pregătim muzica";}
  45% { content: "Brodăm iile"; }
  90% { content: "Hai la dans!"; }
}
