<mat-sidenav-container fxFlexFill class="side-class">
  <mat-sidenav mode="side" fixedInViewport class="side" #sidenav [(opened)]="openedSide">
   <lib-side-nav [sidenav]="sidenav" [isAuthenticated]="isAuthenticated"
   [isAdmin]="isAdmin" [options]="options">
   </lib-side-nav>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="toolbar">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="33">
          <div class="button-container" fxLayoutAlign="center center">
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon svgIcon="menu" color="primary"></mat-icon>
            </button>
          </div>
        </div>
        <div fxFlex="33" fxLayoutAlign="center center">
          <h1 *ngIf="header" class="title" fxHide.lt-sm="true">
            <ng-container *ngTemplateOutlet="header"></ng-container>
          </h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex="33">
          <div fxFlex="100">
            <ng-container *ngTemplateOutlet="search" fxFlex="50"></ng-container>
          </div>
          <div fxFlex="50" fxLayout="row" fxLayoutAlign="end center">
            <div fxLayout="row" fxLayoutAlign="end center" *ngIf="isAuthenticated" class="account-image">
              <ng-container *ngIf="user">
                <ngx-avatar [name]="user.name" [bgColor]="'#00877A'" [matMenuTriggerFor]="menu" size="40"
                            class="avatar"></ngx-avatar>
              <mat-menu #menu="matMenu">
                <button mat-menu-item disabled *ngIf="isAuthenticated">
                  <span>{{user.name}}</span>
                </button>
                <button mat-menu-item (click)="logout()" *ngIf="isAuthenticated">
                  <mat-icon svgIcon="logout"></mat-icon>
                  <span>Log out</span>
                </button>
                <button mat-menu-item [routerLink]="['/user']" *ngIf="isAuthenticated">
                  <mat-icon svgIcon="account"></mat-icon>
                  <span>Cont</span>
                </button>
                <button mat-menu-item [routerLink]="['/user/wishlist']" *ngIf="isAuthenticated">
                  <mat-icon svgIcon="heart"></mat-icon>
                  <span>Favorite</span>
                </button>
                <button mat-menu-item [routerLink]="['/user/history']" *ngIf="isAuthenticated">
                  <mat-icon svgIcon="history"></mat-icon>
                  <span>Istoric</span>
                </button>
                <button mat-menu-item [routerLink]="['/user/password']" *ngIf="isAuthenticated">
                  <mat-icon svgIcon="lock"></mat-icon>
                  <span>Schimbă parola</span>
                </button>
              </mat-menu>
              </ng-container>

            </div>
            <div *ngIf="!isAuthenticated" fxHide.lt-md>
              <button color="primary" mat-stroked-button routerLink="/auth/login" *ngIf="!isAuthenticated">
                <span>Contul meu</span>
              </button>
              <span fxFlex></span>
              <button color="primary" mat-raised-button class="inregistrare-margin" routerLink="/auth/signup"
                      *ngIf="!isAuthenticated">
                <span>Înregistrare</span>
              </button>
            </div>
          </div>
          <!--          <button mat-icon-button routerLink="admin" (click)="authService.logout()" *ngIf="isAuthenticated" >-->
          <!--            <mat-icon svgIcon="logout-variant"></mat-icon>-->
          <!--          </button>-->
        </div>
      </mat-toolbar-row>
      <div>
      </div>
    </mat-toolbar>
<!--    <div fxLayout="row wrap" fxLayoutAlign="start center" class="under-sidenav">-->
        <div [@routeAnimations]="prepareRoute(outlet)" class="layout-animation-container">
          <router-outlet (activate)="componentChangeed($event)" (deactivate)="clearComponent()" #outlet="outlet"></router-outlet>

        </div>
<!--      </div>-->

    <lib-footer class="footer" fxFlex="100">
    </lib-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
<lib-toastify-toast-container></lib-toastify-toast-container>
