.layout {
  &__sidenav {
    @media screen and (max-width: 960px) {
      width:100vw;
    }
  }

  &__sidenav-content {
    display: block !important;
  }

  &__toolbar {
    background-color: white;
  }

  &__toolbar-title {

    &--text {
      color: #00877A;
      font-weight: bold;
      font-size: 36px;
      line-height: 42px;
    }
  }

  &__toolbar-user {

    &--account-image {
      padding: 10px;
      cursor: pointer;
      transition: all .2s;

      &:hover {
        box-shadow: 0 5rem 5rem rgba(var(--color-black), .1);
        transform: scale(1.05);
      }
    }
  }

  &__toolbar-buttons {

    &--sign-up {
      margin-left: 5px;
    }
  }

  &__toolbar-toggle {

    &--button {
      width: 40px;
      height: 40px;
      border: 1px solid #00877a;
      border-radius: 50%;

      button {
        margin-top: -3px;
      }
    }
  }

  &__animation {
    min-height: 100vh;
    background-color: var(--color-light-grey);
    overflow: hidden;
  }
}

