<mat-sidenav-container fxFlexFill class="side-class">
  <mat-sidenav mode="side" fixedInViewport class="side" #sidenav [(opened)]="openedSide">
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="primary" fxShow.gt-sm="false">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon svgIcon="arrow-left"></mat-icon>
      </button>
    </mat-toolbar>
    <mat-toolbar color="accent" fxShow.lt-md="false">
      <mat-toolbar-row class="app-name">
        Brâu Muntenesc
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list class="menu" fxLayout="column" fxLayoutAlign="start center">
      <a mat-list-item routerLink="">
        <mat-icon mat-list-icon svgIcon="home"></mat-icon>
        <span>Acasă</span>
      </a>
      <a mat-list-item routerLink="/broderie">
        <mat-icon mat-list-icon svgIcon="store"></mat-icon>
        <span>Magazin</span>
      </a>
      <a mat-list-item routerLink="/cursuri">
        <mat-icon mat-list-icon svgIcon="school"></mat-icon>
        <span>Cursuri</span>
      </a>
      <a mat-list-item routerLink="/evenimente">
        <mat-icon mat-list-icon svgIcon="dance-ballroom"></mat-icon>
        <span>Evenimente</span>
      </a>
      <a mat-list-item routerLink="/contact">
        <mat-icon mat-list-icon svgIcon="card-account-phone"></mat-icon>
        <span>Contact</span>
      </a>
      <a mat-list-item routerLink="/user" *ngIf="isAuthenticated">
        <mat-icon mat-list-icon svgIcon="account"></mat-icon>
        <span>Cont</span>
      </a>
      <a mat-list-item routerLink="/admin" *ngIf="isAdmin">
        <mat-icon mat-list-icon svgIcon="camera-control"></mat-icon>
        <span>Admin</span>
      </a>
      <a mat-list-item routerLink="/admin-platforma-cursuri/dashboard" *ngIf="isAdmin">
        <mat-icon mat-list-icon svgIcon="head-minus"></mat-icon>
        <span>Admin Cursuri</span>
      </a>
      <a mat-list-item routerLink="/admin-evenimente" *ngIf="isAdmin">
        <mat-icon mat-list-icon svgIcon="gamepad-square"></mat-icon>
        <span>Admin Evenimente</span>
      </a>
      <ng-container *ngTemplateOutlet="options"></ng-container>
      <hr fxHide.gt-sm/>
      <a mat-list-item routerLink="/auth/login" *ngIf="!isAuthenticated" fxHide.gt-sm>
        <mat-icon mat-list-icon svgIcon="account-box"></mat-icon>
        <span>Contul meu</span>
      </a>
      <a mat-list-item routerLink="/auth/signup" *ngIf="!isAuthenticated" fxHide.gt-sm>
        <mat-icon mat-list-icon svgIcon="account-plus-outline"></mat-icon>
        <span>Înregistrare</span>
      </a>
      <a mat-list-item (click)="logout()" *ngIf="isAuthenticated" fxHide.gt-sm>
        <mat-icon mat-list-icon svgIcon="account-arrow-right-outline"></mat-icon>
        <span>Ieși de pe cont</span>
      </a>
      <span fxFlex class="space-until-logo"></span>
      <a mat-list-item fxLayoutAlign="center center">
        <img class="logo" src="assets/logo.png">
        <span>Brâu Muntenesc</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="toolbar">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="33">
          <div class="button-container" fxLayoutAlign="center center">
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon svgIcon="menu" color="primary"></mat-icon>
            </button>
          </div>
        </div>
        <div fxFlex="33" fxLayoutAlign="center center">
          <h1 *ngIf="header" class="title" fxHide.lt-sm="true">
            <ng-container *ngTemplateOutlet="header"></ng-container>
          </h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex="33">
          <div fxFlex="100">
            <ng-container *ngTemplateOutlet="search" fxFlex="50"></ng-container>
          </div>
          <div fxFlex="50" fxLayout="row" fxLayoutAlign="end center">
            <div fxLayout="row" fxLayoutAlign="end center" *ngIf="isAuthenticated" class="account-image">
              <ng-container *ngIf="user">
                <ngx-avatar [name]="user.name" [bgColor]="'#00877A'" [matMenuTriggerFor]="menu" size="40"
                            class="avatar"></ngx-avatar>
              <mat-menu #menu="matMenu">
                <button mat-menu-item disabled *ngIf="isAuthenticated">
                  <span>{{user.name}}</span>
                </button>
                <button mat-menu-item (click)="logout()" *ngIf="isAuthenticated">
                  <mat-icon svgIcon="logout"></mat-icon>
                  <span>Log out</span>
                </button>
                <button mat-menu-item [routerLink]="['/user']" *ngIf="isAuthenticated">
                  <mat-icon svgIcon="account"></mat-icon>
                  <span>Cont</span>
                </button>
                <button mat-menu-item [routerLink]="['/user/wishlist']" *ngIf="isAuthenticated">
                  <mat-icon svgIcon="heart"></mat-icon>
                  <span>Favorite</span>
                </button>
                <button mat-menu-item [routerLink]="['/user/history']" *ngIf="isAuthenticated">
                  <mat-icon svgIcon="history"></mat-icon>
                  <span>Istoric</span>
                </button>
                <button mat-menu-item [routerLink]="['/user/password']" *ngIf="isAuthenticated">
                  <mat-icon svgIcon="lock"></mat-icon>
                  <span>Schimbă parola</span>
                </button>
              </mat-menu>
              </ng-container>

            </div>
            <div *ngIf="!isAuthenticated" fxHide.lt-md>
              <button color="primary" mat-stroked-button routerLink="/auth/login" *ngIf="!isAuthenticated">
                <span>Contul meu</span>
              </button>
              <span fxFlex></span>
              <button color="primary" mat-raised-button class="inregistrare-margin" routerLink="/auth/signup"
                      *ngIf="!isAuthenticated">
                <span>Înregistrare</span>
              </button>
            </div>
          </div>
          <!--          <button mat-icon-button routerLink="admin" (click)="authService.logout()" *ngIf="isAuthenticated" >-->
          <!--            <mat-icon svgIcon="logout-variant"></mat-icon>-->
          <!--          </button>-->
        </div>
      </mat-toolbar-row>
      <div>
      </div>
    </mat-toolbar>
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="under-sidenav">

      <mat-card class="content-container" fxFlex="100">
        <router-outlet (activate)="componentChangeed($event)" (deactivate)="clearComponent()"></router-outlet>
      </mat-card>

    </div>
    <app-footer class="footer" fxFlex="100">
    </app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
<lib-toastify-toast-container></lib-toastify-toast-container>
