<mat-sidenav-container fxFlexFill class="side-class">
  <mat-sidenav mode="side" fixedInViewport class="side" #sidenav [(opened)]="openedSide">
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="primary" fxShow.gt-sm="false">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon svgIcon="arrow-left"></mat-icon>
      </button>
    </mat-toolbar>
    <mat-toolbar color="accent" fxShow.lt-md="false">
      <mat-toolbar-row>
        Brâu Muntenesc
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list class="menu">
      <a mat-list-item routerLink="">
        <mat-icon mat-list-icon svgIcon="home"></mat-icon>
        <span >Acasă</span>
      </a>
      <a mat-list-item routerLink="/broderie">
        <mat-icon mat-list-icon svgIcon="store"></mat-icon>
        <span>Magazin</span>
      </a>
      <a mat-list-item routerLink="/cursuri">
        <mat-icon mat-list-icon svgIcon="school"></mat-icon>
        <span>Cursuri</span>
      </a>
      <a mat-list-item routerLink="/evenimente">
        <mat-icon mat-list-icon svgIcon="dance-ballroom"></mat-icon>
        <span>Evenimente</span>
      </a>
      <a mat-list-item routerLink="/contact">
        <mat-icon mat-list-icon svgIcon="card-account-phone"></mat-icon>
        <span>Contact</span>
      </a>
      <a mat-list-item routerLink="/user" *ngIf="isAuthenticated">
        <mat-icon mat-list-icon svgIcon="account"></mat-icon>
        <span>Cont</span>
      </a>
      <a mat-list-item routerLink="/admin" *ngIf="isAdmin">
        <mat-icon mat-list-icon svgIcon="camera-control"></mat-icon>
        <span>Admin</span>
      </a>
      <a mat-list-item routerLink="/admin-platforma-cursuri/dashboard" *ngIf="isAdmin">
        <mat-icon mat-list-icon svgIcon="head-minus"></mat-icon>
        <span>Admin Cursuri</span>
      </a>
      <a mat-list-item routerLink="/admin-evenimente" *ngIf="isAdmin">
        <mat-icon mat-list-icon svgIcon="gamepad-square"></mat-icon>
        <span>Admin Evenimente</span>
      </a>
      <ng-container *ngTemplateOutlet="options"></ng-container>
      <hr fxHide.gt-sm />
      <a mat-list-item routerLink="/auth/login" *ngIf="!isAuthenticated"  fxHide.gt-sm>
        <mat-icon mat-list-icon svgIcon="account-box"></mat-icon>
        <span>Contul meu</span>
      </a>
      <a mat-list-item  routerLink="/auth/signup" *ngIf="!isAuthenticated" fxHide.gt-sm>
        <mat-icon mat-list-icon svgIcon="account-plus-outline"></mat-icon>
        <span>Înregistrare</span>
      </a>
      <a mat-list-item (click)="logout()" *ngIf="isAuthenticated" fxHide.gt-sm>
        <mat-icon mat-list-icon svgIcon="account-arrow-right-outline"></mat-icon>
        <span>Ieși de pe cont</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="33" >
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon svgIcon="menu"></mat-icon>
          </button>
        </div>
        <div fxFlex="33" fxLayoutAlign="center center">
          <h1 *ngIf="header" >
            <ng-container *ngTemplateOutlet="header"></ng-container>
          </h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center"  fxFlex="33">
          <div fxFlex="100">
            <ng-container *ngTemplateOutlet="search" fxFlex="50"></ng-container>
          </div>
          <div fxFlex="50"  fxLayout="row" fxLayoutAlign="end center">
            <div fxLayout="row" fxLayoutAlign="end center" *ngIf="isAuthenticated">
              <a mat-icon-button class="account-image" [matMenuTriggerFor]="menu">
                <mat-icon svgIcon="account"></mat-icon>
              </a>
              <mat-menu #menu="matMenu">
                <button mat-menu-item disabled  *ngIf="isAuthenticated" >
                  <span>{{user.name}}</span>
                </button>
                <button mat-menu-item (click)="logout()"  *ngIf="isAuthenticated" >
                  <span>Log out</span>
                </button>
                <button mat-menu-item [routerLink]="['/user']"  *ngIf="isAuthenticated" >
                  <span>Cont</span>
                </button>
                <button mat-menu-item [routerLink]="['/user/wishlist']"  *ngIf="isAuthenticated" >
                  <span>Favorite</span>
                </button>
                <button mat-menu-item [routerLink]="['/user/history']"  *ngIf="isAuthenticated" >
                  <span>Istoric</span>
                </button>
                <button mat-menu-item [routerLink]="['/user/password']"  *ngIf="isAuthenticated" >
                  <span>Schimbă parola</span>
                </button>
              </mat-menu>
            </div >
            <div *ngIf="!isAuthenticated" fxHide.lt-md>
              <button mat-raised-button routerLink="/auth/login" *ngIf="!isAuthenticated"  >
                <span>Contul meu</span>
              </button>
              <span fxFlex></span>
              <button mat-raised-button class="inregistrare-margin" routerLink="/auth/signup" *ngIf="!isAuthenticated" >
                <span>Înregistrare</span>
              </button>
            </div>
          </div>
<!--          <button mat-icon-button routerLink="admin" (click)="authService.logout()" *ngIf="isAuthenticated" >-->
<!--            <mat-icon svgIcon="logout-variant"></mat-icon>-->
<!--          </button>-->
        </div>
      </mat-toolbar-row>
      <div>
      </div>
    </mat-toolbar>
    <div  fxLayout="row wrap" fxLayoutAlign="center center">
      <div   fxFlex="100">
        <router-outlet  (activate)="componentChangeed($event)" (deactivate)="clearComponent()"></router-outlet>
      </div>
      <app-footer class="footer">
        I'm the Sticky Footer.
      </app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<lib-toastify-toast-container></lib-toastify-toast-container>
