.card-item {
  margin-top: 20px;
}

.anunt {
  background: #02c3c3;
  padding: 50px;
  margin: 40px;
  border-radius: 100px;
  font-weight: bold;
  font-size: 30px;
  color: #00695c;
  text-align: center;
}

.gr-noi {
  color: white;
}
