<!--<div class="anunt">-->
<!--  <p>Reîncepem activitatea din 1 martie!</p>-->
<!--  <br />-->
<!--  <p class="gr-noi">Grupă nouă:</p>-->
<!--  <p>Miercuri - 16 iunie - 19:30</p>-->
<!--</div>-->

<div ngClass.lt-md="container">
  <div *ngFor="let item of items" fxLayout="column" fxLayoutAlign="center stretch" class="first-div" >
    <app-pagina-start-card-item  [item]="item" class="card-item"></app-pagina-start-card-item>
  </div>

  <ng-template #header>
    <p>Acasă</p>
  </ng-template>
</div>
