@import '~src/assets/scss/abstract/mixins';



.grid-container {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns:[center-start] repeat(16, [col-start] minmax(min-content, 7rem) [col-end]) [center-end];
  column-gap: 1rem;
  grid-row-gap: 5rem;

  @include responsive-breakpoint(small-medium) {
    margin-top: 7rem;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(16, [col-start] minmax(min-content, 7rem) [col-end]) [center-end]  minmax(6rem, 1fr) [full-end]  ;

  }

  @include responsive-breakpoint(medium) {
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start]
  repeat(16, [col-start] minmax(min-content, 7rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
}


