@import 'src/assets/css-variables/themes';
@import 'src/assets/scss/main';


/* You can add global styles to this file, and also import other style files */

html, body {}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;  margin: 0;
}

button.mat-menu-item {
  line-height: 24px !important;
}
a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}
.mat-icon svg {
  height: 24px;
  width: 24px;
}
.mat-step-icon-content .mat-icon svg {
  height: 100%;
  width: 100%;
}

mat-toolbar-row {
  padding: 0;
}

.full-height {
  min-height: 70vh;
  margin-top: 60px;
}

.spinner {
  margin-top: 20px;
  align-self: center;
}

.margin-top-1 {
  margin-top: 2vh ;
}


.mat-toolbar-row, .mat-toolbar-single-row  {
  height: 56px;
}

.mat-toolbar-multiple-rows {
  min-height: 56px;
}

.mat-body p, .mat-body-1 p, .mat-typography p {
  margin: 0;
}

.menu {
  span {
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  mat-icon {
    color: white;
    margin-right: 5px;
  }

  hr {
    width: 90%;
  }
}
