
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
@import '~ngx-bar-rating/themes/br-stars-theme';
@import '~@angular/material/theming';
@import "src/app/styles/pallets.scss";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$brau-muntenesc-primary: mat-palette($secondary, 500);
$brau-muntenesc-accent: mat-palette($primary, 500);

// The warn palette is optional (defaults to red).
$brau-muntenesc-warn: mat-palette($mat-red, 800);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$brau-muntenesc-theme: mat-light-theme((
  color: (
    primary: $brau-muntenesc-primary,
    accent: $brau-muntenesc-accent,
    warn: $brau-muntenesc-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($brau-muntenesc-theme);

/* You can add global styles to this file, and also import other style files */

html, body {height: 100%;}
body { height: 100%; font-family: Roboto, "Helvetica Neue", sans-serif;  margin: 0;}

button.mat-menu-item {
  line-height: 24px !important;
}
a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}
.mat-icon svg {
  height: 24px;
  width: 24px;
}
.mat-step-icon-content .mat-icon svg {
  height: 100%;
  width: 100%;
}

mat-toolbar-row {
  padding: 0;
}

.full-height {
  min-height: 70vh;
}

.spinner {
  margin-top: 20px;
  align-self: center;
}

.margin-top-1 {
  margin-top: 2vh ;
}


.mat-toolbar-row, .mat-toolbar-single-row  {
  height: 56px;
}

.mat-toolbar-multiple-rows {
  min-height: 56px;
}

.mat-body p, .mat-body-1 p, .mat-typography p {
  margin: 0;
}

.menu {
  span {
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  mat-icon {
    color: white;
    margin-right: 5px;
  }

  hr {
    width: 90%;
  }
}
